<div>
    <br>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <br>
            <span class="example-fill-remaining-space"></span>
            <span class="align-center"></span>
            <span class="example-spacer"></span>
            <div >
                <button mat-button routerLink="/homepage">Homepage</button>
                <button mat-button routerLink="/profile">Profile</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<br>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>