.card {
    width: 100%;
    background-color: whitesmoke;
  }
  
  .card-header {
      text-align: center;
  }
  
  td{
      width: 16.6%;
      text-align: left;
  }
  
  .sub-card {
    background-color: white;
  }
  
  .form-field {
    text-align: left;
    margin: 0px 100px 0px 100px;
    width: 8em;
  }
  
  .short-form-field {
    text-align: left;
    margin: 0px 20px 0px 20px;
    width: 5em;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 10px;
    width: 100%;
  }
  